@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* * {
    font-family: 'Agdasima', sans-serif;   //DOSIS
} */
* {
    font-family: 'Poppins', sans-serif;
}

/* h1, h2, h3, .poppins {
    font-family: 'Poppins', sans-serif;
} */